* {
  box-sizing: border-box;
}
.container {
  box-shadow: 0 0 30px rgb(36, 34, 34);
  margin: 40px;
  padding: 20px;
  display: flex;

}
.box {
  border-radius:  10px;
  padding: 20px;
  box-shadow:3px 3px 10px rgb(104, 99, 99);
  margin-bottom: 25px

}
.blue {
  background-color: blue;

}
.sidebar {
  flex:0 0 250px ;
  margin: 15px;
}
.content {
  flex: 1 1 auto;

}